
.StopWatch-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .StopWatch-link {
    color: #61dafb;
  }
  
  @keyframes StopWatch-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  /* StopWatch.css */
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
    margin-top: 20px;
  }
  
  #timers {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  #timers > div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  p {
    margin: 0;
  }
  
  button {
    margin-left: 10px;
  }
  
  h2 {
    text-align: center;
    margin-top: 20px;
  }
  
  input[type="text"] {
    padding: 5px;
    margin-right: 10px;
  }
  
  button {
    padding: 5px 10px;
  }

  .inputTimer {
    margin-left: 100px;
  }
  
  .StartButton{
    background-color: green;
  }
  .removeButton{
    background-color: red;
  }
  